- provide(:title, 'Sign up')
-#= session[:omniauth].inspect
%h1 Sign up
.row
 .span6.offset3
  -#= session[:omniauth].inspect
  = form_for(@user) do |f| 
   = render 'fields.html.haml', f: f

   = f.submit "Create my account", class: "btn btn-large btn-primary" 





