@import "bootstrap";
//sass allows us to define variable
$lightGray: #999;
$white: #fff;
$red: #9d261d;
$gray: #555;
$grayDarker: #222;
$grayMediumLight: #eaeaea;
$grayLighter: #eee;

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/*mixins, variables, etc. */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box_sizing: border-box;
}


/* form */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;

}

input {
	height: auto !important;

}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

/* sidebar */

aside {
	section {
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}

	}
}
.gravatar {
	float: left;
	margin-right: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

html {
	overflow-y: scroll;
}

body{
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea{
	resize: vertical;
}

.center{
	text-align: center;
	h1 {
		margin-bottom:10px;
	}
}
/* using nesting we can avoid this with sass
.center h1 {
	margin-bottom:10px;
}
*/

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $lightGray;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}



/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
  	color: $red;
  	text-decoration: none;
  }
}
li #twitter{
	float: left;
	margin-left: 0px;
}
.bar{
	color: white;
	line-height: 3;
}
/*

#logo:hover {
  color: red;
  text-decoration: none;
}

*/
/* footer */


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $lightGray;
  small{
  	float: left;
  }

  ul {
	float: right;
	list-style: none;
	li {
	float: left;
	margin-left: 10px;
    }

  }
  a {
	color: $gray;
	&:hover {
	color: $grayDarker;
    }
   }

}

/*omniauth footer */

.auth_footer {
  margin-top: 120px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $lightGray;
  small{
  	float: left;
  }

  ul {
	float: right;
	list-style: none;
	li {
	float: left;
	margin-left: 10px;
    }

  }
  a {
	color: $gray;
	&:hover {
	color: $grayDarker;
    }
   }

}
/*
footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 10px;
}

footer a {
	color: #555;
}

footer a:hover {
	color: #222;
} 
*/

/*authentications */
.statment_signin_signup{
	margin-top: 85px;
	position: absolute;
	
}

.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

/* sidebar */

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* microposts */

.microposts {
	list-style: none;
	margin: 10px 0 0 0;

	li {
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}
}
.content {
	display: block;
}

.timestamp {
  color: $grayLight;
}

.gravatar {
  float: left;
  margin-right: 10px;
}


aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

